@model _5051.Models.AvatarModel

@{
    ViewBag.Title = "Update";
}


<div class="container">
    <div class="row">

        @{
            if (Model == null)
            {
                <p>No Avatar</p>
            }

            else
            {
                <div class="row">
                    <h2>Update Avatar</h2>
                    <br />
                    <br />

                    <div class="row">
                        <div class="col-sm-3 text-right">
                        </div>
                        <div class="col-sm-4">
                            <img src="~/Content/img/@Model.Uri" width="75" height="75" />
                            <br />
                            <span>
                                @Model.Name
                                <br />
                                <br />
                                <br />
                            </span>
                        </div>
                    </div>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.Id)

                        <div class="row">
                            <div class="col-sm-3 text-right">
                                @Html.DisplayNameFor(m => m.Name)
                            </div>
                            <div class="col-sm-4">
                                @Html.EditorFor(m => m.Name)
                                @Html.ValidationMessageFor(m => m.Name)
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3 text-right">
                                @Html.DisplayNameFor(m => m.Description)
                            </div>
                            <div class="col-sm-4">
                                @Html.EditorFor(m => m.Description)
                                @Html.ValidationMessageFor(m => m.Description)
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3 text-right">
                                @Html.DisplayNameFor(m => m.Uri)
                            </div>
                            <div class="col-sm-4">
                                @Html.EditorFor(m => m.Uri)
                                @Html.ValidationMessageFor(m => m.Uri)
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3 text-right">
                                @Html.DisplayNameFor(m => m.Level)
                            </div>
                            <div class="col-sm-4">
                                @Html.EditorFor(m => m.Level)
                                @Html.ValidationMessageFor(m => m.Level)
                            </div>
                        </div>

                        <br />
                        <br />
                        <div class="row">
                            <div class="col-sm-3 text-right">
                            </div>
                            <div class="col-sm-4">
                                @Html.ActionLink("Cancel", "Index", new { id = Model.Id }, new { @class = "btn btn-success" })
                                <input type="submit" value="Update" class="btn btn-primary">
                            </div>
                        </div>

                    }


                </div>
            }

        }
    </div>
</div>
