@model _5051.Models.StudentViewModel

@{
    ViewBag.Title = "Index";
}

<link rel="stylesheet" type="text/css" href="~/Content/Login.css" />
<script>
    $(document).ready(
    function () {
        $('#navigation a').hover(
            function () {
                var linkIndex = $(this).attr("data-filename");
                $(this).addClass('hover');
                $('.box img').attr('src', linkIndex);
            }),
            $('#navigation a').click(
                function () {
                    var linkIndex = $(this).attr("data-filename");
                    $(this).addClass('hover');
                    $('.box img').attr('src', linkIndex);
                    $(".box p").text("You have selected" + $(this).text());
                }
            )
	});

</script>

<div class="form">

    <div id="row">
        <h1 class="text-center">Good Morning!</h1>
        <h2 class="text-center">It's a great day in SUperNova today!</h2>
    </div>

    <div id="row">
        <center>
            <div id="clock">
                <p class="unit" id="hours"></p>:
                <p class="unit" id="minutes"></p>:
                <p class="unit" id="seconds"></p>
                <p class="unit" id="ampm"></p>
                <script src="~/Scripts/clock.js"></script>
            </div>
        </center>
    </div>
    <div class="row">
        <div class="col-md-6">

            <h4>Select your profile to login</h4>
            <div id="navigation" class="list-group">

                @{
                    // Logged Out first
                    foreach (var item in Model.StudentList)
                    {
                        if (item.Status == _5051.Models.StudentStatusEnum.Out)
                        {   
                            <a class="list-group-item" id="@item.Name" href="~/Kiosk/SetLogIn/@item.Id" data-filename="/Content/img/@item.AvatarUri"><i class="glyphicon glyphicon-user"></i> @item.Name</a>
                        }
                    }
                }
            </div>

        </div>
        <div class="col-md-6">
            <div class="box">
            <center><img src="~/Content/img/defaultavatarX.png" width="200" height="200" />
                <p></p>
                </center>
            
            </div>
        </div>
    </div>
    
        <div class="row">
            <div class="submitLink text-center">
                @Html.ActionLink("Create a new profile", "NewProfile", "Kiosk", null, new { @class = "btn btn-success" })
                <a href="#" class="btn btn-success">Login</a>
            </div>
        </div>


          <!--data-toggle="modal" data-target="#loginModal"-->
      

	  <!-- Modal -->
		<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
			<div class="modal-content">
			  <div class="modal-header">

				<h5 class="modal-title" id="exampleModalLabel">Sign In</h5>

				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				  <span aria-hidden="true">&times;</span>
				</button>
			  </div>
			  <div class="modal-body text-center">
				Login Successfully! <br>
				You have earned 100 points from signing in today!
			  </div>
			  <div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
			  </div>
			</div>
		  </div>
		</div>

	<div class="row"></div>
    

        @{
            if (Model.StudentList == null || !Model.StudentList.Any())
            {
                <br />
                <p>No Students in the System</p>
                <br />
            }
            else
            {
                // List out the Logged IN Students, then the Logged Out students

                <div class="row">
                    <h4>List of students Logged In</h4>

                    @{
                        // Logged IN first
                        foreach (var item in Model.StudentList)
                        {
                            if (item.Status == _5051.Models.StudentStatusEnum.In)
                            {
                                <div class="col-sm-2">
                                    <a id="@item.Id" href="~/Kiosk/SetLogOut/@item.Id">
                                        <div class="col-sm-1">
                                            <img src="~/Content/img/@item.AvatarUri" width="75" height="75" />
                                            <br />
                                            <span>
                                                @item.Name
                                            </span>
                                        </div>
                                    </a>
                                </div>
                            }
                        }
                    }
                </div>

                <br />
                <br />
                <br />
                <div class="row">
                   

                </div>
            }
        }

    </div>



