@model _5051.Models.StudentViewModel

@{
    ViewBag.Title = "Reports";
}
<body background="~/Content/img/adminBackground.png">

    <div class="container">
        <!--script to switch between report and edit attendance table-->
        <script>
    function changeImage() {
        var img = document.getElementById("image");
        img.src = "@Url.Content("~/Content/img/defaultEditAttendance.png")";
        img.style.height = "200px";
        img.style.width = "800px";
        return false;
    }

        </script>

        <div class="col-md-8">
            <h3>Reports</h3>
        </div>

        <div class="col-md-4">
            @{
                if (Model.StudentList.Count == 1)
                {
                    @Html.ActionLink("Manage student info", "Read", "Student",
                    new { id = Model.StudentList.ElementAt(0).Id }, new { @class = "btn btn-primary" })
                    <a href="#" class="btn btn-primary" role="button" onclick="changeImage();">Edit attendance</a>
                }
            }


        </div>
        <br />

        <div class="container">
            <div class="row text-center">
                <div class="col-sm-12">
                    @{
                        if (Model.StudentList == null || !Model.StudentList.Any())
                        {
                            <br />
                            <p>No Students in the System</p>
                            <br />
                        }
                        else
                        {
                            <div class="col-md-4">
                                <br /><br />
                                @{
                                    if (Model.StudentList.Count == 1)
                                    {
                                        var item = Model.StudentList.ElementAt(0);
                                        <div class="row">
                                            <div class="col-sm-5">
                                                <img src="~/Content/img/@item.AvatarUri" width="150" height="150" />
                                                <br />
                                                <br />
                                                <br />

                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-5 text-left">
                                                @Html.DisplayNameFor(i => item.Name)
                                            </div>
                                            <div class="col-sm-2 text-left">
                                                @Html.DisplayFor(i => item.Name)
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-5 text-left">
                                                @Html.DisplayNameFor(i => item.AvatarName)
                                            </div>
                                            <div class="col-sm-2">
                                                @Html.DisplayFor(i => item.AvatarName)
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-5 text-left">
                                                @Html.DisplayNameFor(i => item.AvatarDescription)
                                            </div>
                                            <div class="col-sm-2">
                                                @Html.DisplayFor(i => item.AvatarDescription)
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-5 text-left">
                                                @Html.DisplayNameFor(i => item.AvatarLevel)
                                            </div>
                                            <div class="col-sm-2">
                                                @Html.DisplayFor(i => item.AvatarLevel)
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-5 text-left">
                                                @Html.DisplayNameFor(i => item.Status)
                                            </div>
                                            <div class="col-sm-2">
                                                @Html.DisplayFor(i => item.Status)
                                            </div>
                                        </div>

                                        <br />
                                        <br />
                                        <div class="row">
                                            <div class="col-sm-8">
                                                @Html.ActionLink("Cancel", "Index", new { id = item.Id }, new { @class = "btn btn-success" })
                                                @Html.ActionLink("Update", "Update", new { id = item.Id }, new { @class = "btn btn-primary" })
                                                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                                            </div>
                                        </div>

                                    }
                                    else
                                    {
                                        foreach (var item in Model.StudentList)
                                        {
                                            <div class="col-md-6 text-center">
                                                <a id="@item.Id" href="~/Admin/Report/@item.Id">
                                                    <img src="~/Content/img/@item.AvatarUri" width="50" height="50" />
                                                    <br />
                                                    <span>
                                                        @item.Name
                                                    </span>
                                                </a>
                                            </div>

                                        }
                                    }
                                }
                            </div>
                            <div class="col-md-8">
                                <span class="pull-left">
                                    <label for="frDate">From date:</label>
                                    <input type="date" id="frInput" name="frInput">
                                    <label for="toDate">To date:</label>
                                    <input type="date" id="toInput" name="toInput">
                                </span>
                                <br\>
                                    <span class="pull-left">
                                        @if (Model.StudentList.Count > 1)
                                        {
                                            <img id="image" src="~/Content/img/totalGraph.png" width="600" height="300" />
                                        }
                                        else
                                        {

                                            <img id="image" src="~/Content/img/individualGraph.png" width="600" height="300" />
                                        }

                                    </span>
                            </div>

                                    }
                    }
                </div>
            </div>
        </div>

    </div>
</body>