@model _5051.Models.StudentDisplayViewModel

@{
    ViewBag.Title = "Update";
}


<div class="container">
    <div class="row">

        @{
            if (Model == null)
            {
                <p>No Student</p>
            }

            else
            {
                <div class="row">
                    <h2>Update Student</h2>
                    <br />
                    <br />

                    <div class="row">
                        <div class="col-sm-3 text-right">
                        </div>
                        <div class="col-sm-2">
                            <img src="~/Content/img/@Model.AvatarUri" width="75" height="75" />
                            <br />
                            <span>
                                @Model.Name
                                <br />
                                <br />
                                <br />
                            </span>
                        </div>
                    </div>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.Id)

                        <div class="row">
                            <div class="col-sm-3 text-right">
                                @Html.DisplayNameFor(m => m.Name)
                            </div>
                            <div class="col-sm-2">
                                @Html.EditorFor(m => m.Name)
                                @Html.ValidationMessageFor(m => m.Name)
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3 text-right">
                                @Html.DisplayNameFor(m => m.AvatarId)
                            </div>
                            <div class="col-sm-2">
                                @Html.DropDownListFor(m => m.AvatarId, _5051.Backend.AvatarBackend.Instance.GetAvatarListItem(Model.AvatarId))
                                @Html.ValidationMessageFor(m => m.AvatarId)
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3 text-right">
                                @Html.DisplayNameFor(m => m.AvatarLevel)
                            </div>
                            <div class="col-sm-2">
                                @Html.EditorFor(m => m.AvatarLevel)
                                @Html.ValidationMessageFor(m => m.AvatarLevel)

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3 text-right">
                                @Html.DisplayNameFor(m => m.Tokens)
                            </div>
                            <div class="col-sm-2">
                                @Html.EditorFor(m => m.Tokens)
                                @Html.ValidationMessageFor(m => m.Tokens)
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3 text-right">
                                @Html.DisplayNameFor(m => m.Status)
                            </div>
                            <div class="col-sm-2">
                                @Html.EnumDropDownListFor(x => x.Status,"Select Status")
                                @Html.ValidationMessageFor(m => m.Status)
                            </div>
                        </div>

                        <br />
                        <br />
                        <div class="row">
                            <div class="col-sm-3 text-right">
                            </div>
                            <div class="col-sm-4">
                                @Html.ActionLink("Cancel", "Index", new { id = Model.Id }, new { @class = "btn btn-success" })
                                <input type="submit" value="Update" class="btn btn-primary">
                            </div>
                        </div>

                    }


                </div>
            }

        }
    </div>
</div>
